*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	padding-top: 51px;
	position: relative;
}

div.row {
	padding-top: 51px;
}
