*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	position: relative;
}

div.row {
	padding-top: 51px;
}

div#home {
	/*height: calc(100vh - 51px);*/
}

.fa {
	display: inline-block;
	margin-right: 20px;
}

i {
	margin-right: 10px;
	font-size: 0.9rem;
}

footer {
	max-width: 100%;
	background-color: #f8f8f8;
	height: 125px;
	padding: 50px;
}





