*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	position: relative;
}

div.row {
	padding-top: 51px;
}

div#events {
	height: calc(100vh - 51px);
	background-color: #1E88E5;
}